body {}

.roww {
    margin: 5px;
}

.card {
    border: white;
    background-color: transparent;
}

.carousel-caption {
    font-family: 'Courgette', cursive;
}

.supreme {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: cornflowerblue;
    width: 20%;
    margin-left: 40%;
}

#login {
    margin-top: 5%;
    border: rgb(255, 0, 85);
}

.caption {
    font-family: 'Courgette', cursive;
    background-color: transparent !important;
    text-align: center;
}

.navbar {
    position: fixed !important;
    color: black;
    z-index: 3;
}

nav {
    background-color: rgba(64, 93, 151, 0.8);
    width: 100%;
    font-size: 30px;
    color: black;
}