 {% extends 'base.html' %} {% load bootstrap3 %} {% block content %}
<div style=padding-top:120px;></div>
<div style="padding-bottom: 30px;"></div>

<h2 class="text-center supreme" style="font-family: 'Courgette', cursive;">The Best Rated Sites</h2>
<div class="container-fluid">
    <div class="row roww">
        {% for project in all_projects %}
        <div class="card col-md-6" style="margin-bottom: 50px; padding-left: 100px;">
            <h1 style="text-align: center; text-transform:uppercase;" class="card-title pictitle" style="width: 500px;"> {{project.title}} </h1>
            <a href="/singleproject/{{project.id}}">
                <img class="card-img-top img-fluid" style="width:600px;" src=" {{project.image.url}}" alt="{{post.name}}"></a>
            <div class="card-body" style="text-align: center;">
                <h4 class="card-title"> {{project.description}}</h4>
                <a style="text-align: center;" href=" {{project.link}} "> {{project.link}} </a>
                <p class="card-text" style="align-content: center;"><b>Posted by:</b> {{project.user}} </p>

                <a style="text-align: center;" href="{%url 'comment' project.id%}" class="btn btn-primary">Review The project</a>
                <a style="text-align: center;" href="{%url 'rates' project.id%}" class="btn btn-primary">Rate The Project</a>

            </div>
        </div>

        {% empty %}

        <h2>No projects at the moment</h2>
        {% endfor %}
    </div>
</div>



{% endblock %}